networkx==2.*
tensorflow>=1.8

# required for unittests
numpy

# required when plotting analysis curves or the GraphLSTM graph
matplotlib

# necessary for region-ensemble
keras
scipy
pandas
# seaborn  # not needed in current implementation
plotly
# h5py  # not needed in TensorFlow implementation
scikit-learn
tqdm
pydot  # visualizing networkx graphs
pillow

# additionally, the package 'opencv3' needs to be installed manually via 
# 'conda install -n $YOUR_ENVIRONMENT_NAME -c menpo opencv3'
