networkx==2.*
tensorflow

# required for unittests
numpy

# required when plotting the GraphLSTM graph
matplotlib

# not necessary, but needed for networkx conversion tests (will result in ImportWarning):
pandas
scipy

# necessary for region-ensemble
opencv
keras
seaborn
plotly
h5py
scikit-learn
